@import "~normalize.css";
@import "roboto.css";

body { 
    font-family: 'Langar-Regular', sans-serif;

}
.container{
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: red;
}
.logo{
    background-image: url("../assets/mavic.png");
    background-size: cover;
    height: 300px;
    width: 200px;
    margin: 0 auto;
}
.code{
    background-color: #5f9c05;
    height: 50px;
}